body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #EAFDE6;
}


header {
	clear: both;
	margin: 0px, 0px, 10px;
	width: 100%;
	height: 100px;
	background-color: #4099FF;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.container{
	width: 100%;
}
#user-wrapper, #home-wrapper {
	width: 30%;
	display: inline-block;
}

#target-wrapper{
	width: auto;
	text-align: center;
	display: inline-block;
}