body {
	margin: 0;
	text-align: center;
}

.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    font-size: 120%;
}

.container{
	width: 100%;
	margin-top: 20px;
}

#home-wrapper {
	width: 40%;
	display: inline-block;
	background-color: #FFCCB2;
	border-radius: 20px;
}

#home-tweet{
		text-align: left;
		width: 90%;
}

.tweetMsg{
	width:90%;
	margin: 10px;
	padding: 10px 10px;
	border: 1px solid #d8d8d8;
	background-color: #f9f9f9;
}

.timestamp{
	font-size: 80%;
}

.tweetuser{
	font-weight: bold;
	color:purple;
	text-decoration: none;
}
.tweetuser:hover {
	text-decoration: underline;
}